#scientific calculator

def addition(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
print("select operations:")
print("1.Addition\n","2.sub\n","3.mul\n","4.div\n")
operation=int(input("enter your choice:1/2/3/4=="))
a=int(input("enter value of a:"))
b=int(input("enter value of b:"))
if operation == 1:
    print (a, "+", b, "=", addition(a, b))

elif operation == 2:
    print (a, "-", b, "=", subtraction(a, b)) 

elif operation == 3:
    print (a, "*", b, "=", multiplication(a, b)) 
    
elif operation == 4:
    print (a, "/", b, "=", division(a, b)) 
    
else:
    print("Invalid Input")


